@media (min-width: 767px) {
    .container{
        width: 700px;
        margin: 0 auto;
    }
    
  .calculator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .percent-btn-section, .num-of-people{
  padding-top: 1.2rem;
}

  .input {
    width: 45%;
  }

  .input-btn, .input-text, .btn{
  font-size: 1rem;
}

  .btn{
  width: 30%;
}

.input-btn{
  width: 28%;
}

.btn, .input-btn{
  margin: .4rem 0 .4rem .5rem;
}

.btn:nth-child(1),.btn:nth-child(5){
  margin: .4rem 0 .4rem 0rem;
}

  .output {
    width: 40%;
  }

  .value{
    font-size: 2.2rem;
  }
}
