@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root{
  --strong-cyan: hsl(172, 67%, 45%);
  --white: hsl(0, 0%, 100%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
}

body {
  background-color: var(--light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  scroll-behavior: smooth;
  font-size: .8rem;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.logo {
  margin: 1.8rem 0;
}

.calculator {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5rem 2.4rem;
  border-radius: 15px;
  background-color: var(--white);
}

.input {
  padding-top: 10px;
  color: var(--dark-grayish-cyan);
}

.input h4{
  padding-bottom: .6rem;
}

.percent-btn-section, .num-of-people{
  padding-top: 1rem;
}

.input-text{
  width: 95%;
  height: 2.5rem;
  margin-bottom: 1rem;
  color: var(--very-dark-cyan);
  padding-right: 10px;
}

.input-text::placeholder{
  color: var(--grayish-cyan);
}

.icon-bill{
  background: url(../img/icon-dollar.svg) no-repeat left;
  background-size: 9px;
  background-position: 15px;
}

.icon-person{
  background: url(../img/icon-person.svg) no-repeat left;
  background-size: 10px;
  background-position: 15px;
}

.input-btn, .input-text, .btn{
  background-color: var(--very-light-grayish-cyan);
  border: none;
  text-align: right;
  border-radius: 6px;
  font-size: 1.3rem;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}


.btn, .input-btn{
  width: 46%;
  padding: 6px 5px;
  text-align: center;
  display: inline-block;
  margin: .4rem 0;
  transition: all .5s ease;
}

.input-btn{
  width: 43%;
}

.btn-wrapper{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: .4rem 0;
}

.btn {
  background-color:var(--very-dark-cyan);
  color: white;
  transition: all .5s ease;
}

.btn-active{
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.input-btn::placeholder{
  color: var(--dark-grayish-cyan);
}



.output{
  padding: 3rem 2rem 2rem;
  background-color: var(--very-dark-cyan);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper, .line-wrapper{
  display: flex;
  justify-content: space-between;
}

.wrapper{
  flex-direction: column;
}

.line-wrapper{
  flex-direction: row;
}

.title{
  color: var(--white);
  padding-bottom: .4rem;
}

.desc{
  color: var(--grayish-cyan);
  padding-bottom: 2rem;
}

.value{
  color: var(--strong-cyan);
  font-size: 1.5rem;
}

.reset{
  text-transform: uppercase;
  width: 100%;
  padding: 9px 0;
  text-align: center;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  border: none;
  border-radius: 6px;
  font-size: 17px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.reset:focus{
  background-color: var(--grayish-cyan);
  color: var(--very-dark-cyan);
}

